html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.root {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.router {
    display: block;
    height: 0;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}
